# AFLEs Agile12v2016
Sandy Wong 2022-02-27

### Imports

In [1]:
import pandas as pd
import numpy as np
import csv
import math
import os

### Functions

In [2]:
def getDataFromFcsv(inFile): #inFile = fcsv with annotation data 

    version = 0
    coordSys = ""
    cols = []
    data = []

    with open(inFile, newline='') as csvfile:
        csvreader = csv.reader(csvfile, delimiter='\n')
        for row in csvreader:
            if row[0][0] == "#": #header in fcsv
                rowVals = row[0].split(" ")
                if rowVals[1] == "Markups":
                    version = float(rowVals[-1])
                if rowVals[1] == "CoordinateSystem":
                    coordSys = str(rowVals[-1])
                if rowVals[1] == "columns":
                    cols = rowVals[-1].split(",")
                    
            else:  #data in fcsv
                rawdata = row[0].split(",")
                data.append(rawdata)
    
    #print(data)
    df = pd.DataFrame(data, columns = cols )
    
    data_dict = {"version":version,
                 "coordinateSystem": coordSys,
                 "data":df}
    
    return data_dict

### Loop through filenames and get data

#### Filenames

In [3]:
path_Agile12v2016_RATER = "C:\\Users\\Sandy\\Documents\\AFIDs-Data\\Agile12v2016-RATER"

files_Agile12v2016_RATER = os.listdir(path_Agile12v2016_RATER)

In [4]:
Agile12v2016_RATER = []
col_headers = ["id","x","y","z","ow","ox","oy","oz","vis","sel","lock","label","desc","associatedNodeID"]
for file in files_Agile12v2016_RATER:
    filePath = "%s/%s" % ("Agile12v2016-RATER",file)
    fileInfo = filePath.split("_")
    rater = int(fileInfo[2][5:])
    iteration = int(fileInfo[3])
    
    data = getDataFromFcsv(filePath)
    version = data["version"]
    coordinateSystem = data["coordinateSystem"]
    nFiducials = len(data["data"])
    for index, row in data["data"].iterrows():
        toAdd = [rater, iteration, version, coordinateSystem]
        for ch in col_headers:
            val = row[ch].strip().upper()
            
            toAdd.append(val)
            #print(row["desc"])
            
        Agile12v2016_RATER.append(toAdd)
            
Agile12v2016_RATER_df = pd.DataFrame(Agile12v2016_RATER, 
                                     columns = ["rater","iteration","version","coordinateSystem","id","x","y","z","ow","ox","oy","oz","vis","sel","lock","label","desc","associatedNodeID"])

In [5]:
Agile12v2016_RATER_df

,rater,iteration,version,coordinateSystem,id,x,y,z,ow,ox,oy,oz,vis,sel,lock,label,desc,associatedNodeID
0,1,1,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_0,4.30596,5.50771,1.52776,6.38605E-316,3.85977E-316,6.16689E-316,0,1,1,1,1,AC,VTKMRMLSCALARVOLUMENODE1
1,1,1,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_1,3.03907,-19.726,-4.75643,6.38605E-316,3.85977E-316,6.16689E-316,4.94066E-324,1,1,1,2,PC,VTKMRMLSCALARVOLUMENODE1
2,1,1,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_3,2.38494,-29.3096,-16.1478,0,0,0,1,1,1,1,3,INFRACOLLICULAR SULCUS,VTKMRMLSCALARVOLUMENODE1
3,1,1,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_4,3.40552,-13.562,-20.0726,0,0,0,1,1,1,1,4,PMJ,VTKMRMLSCALARVOLUMENODE1
4,1,1,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_2,3.99437,-4.98765,-8.30469,6.38605E-316,3.85977E-316,6.16689E-316,9.88131E-324,1,1,1,5,SUPERIOR INTERPEDUNCULAR FOSSA,VTKMRMLSCALARVOLUMENODE1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,8,4,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_30,-11.8232,-37.1502,-5.13688,0,0,0,1,1,1,1,28,L INDUSIUM GRISEUM ORIGIN,VTKMRMLSCALARVOLUMENODE1
1001,8,4,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_31,17.8605,-72.4159,-16.6626,0,0,0,1,1,1,1,29,R VENTRAL OCCIPITAL HORN,VTKMRMLSCALARVOLUMENODE1
1002,8,4,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_32,-17.435,-72.4807,-17.471,0,0,0,1,1,1,1,30,L VENTRAL OCCIPITAL HORN,VTKMRMLSCALARVOLUMENODE1
1003,8,4,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_33,17.1142,20.8435,0.857424,0,0,0,1,1,1,1,31,R OLFACTORY SULCAL FUNDUS,VTKMRMLSCALARVOLUMENODE1
1004,8,4,4.6,0,VTKMRMLMARKUPSFIDUCIALNODE_34,-6.54525,20.968,-0.359913,0,0,0,1,1,1,1,32,L OLFACTORY SULCAL FUNDUS,VTKMRMLSCALARVOLUMENODE1

### AFLEs: mean

In [6]:
#mean fiducial locations; by labels rather than desc as people use different descriptions...

mean_fiducials = []
for fid in range(1,33):
    
    fid_subset = Agile12v2016_RATER_df.loc[Agile12v2016_RATER_df["label"]==str(fid)]
    xVals = [float(x) for x in fid_subset["x"].tolist()]
    yVals = [float(y) for y in fid_subset["y"].tolist()]
    zVals = [float(z) for z in fid_subset["z"].tolist()]
    
    meanX = np.mean(xVals)
    meanY = np.mean(yVals)
    meanZ = np.mean(zVals)
    
    mean_fiducials.append([fid,meanX,meanY,meanZ])

mean_fiducials_df = pd.DataFrame(mean_fiducials,
                                columns = ["label","meanX","meanY","meanZ"])

In [7]:
print(mean_fiducials_df)

    label      meanX      meanY      meanZ
0       1   4.149391   5.678822   1.479532
1       2   3.230568 -19.906413  -4.875663
2       3   2.796073 -28.609881 -16.037834
3       4   3.421191 -13.232969 -20.471747
4       5   3.735649  -7.009849  -8.739796
5       6  15.007181 -18.928950 -11.421050
6       7  -8.988745 -18.226706 -11.611441
7       8  12.951063 -19.957878 -22.048188
8       9  -6.580120 -18.918334 -21.962928
9      10   1.901720 -45.484784  -8.999917
10     11   4.135242  -0.979683 -10.888862
11     12   6.271458  -1.114399 -10.123704
12     13   2.044852  -1.049872 -10.112024
13     14   2.712878 -25.869232  -4.811976
14     15  18.599119  -1.432479  27.078113
15     16 -10.379794  -0.498532  26.874461
16     17  19.451762 -25.229084  20.686581
17     18 -13.074877 -25.877752  20.187571
18     19   5.070870  28.582313  18.003632
19     20   2.778037 -33.272242  -1.486621
20     21  34.589332   4.674916 -19.132958
21     22 -26.067868   5.612301 -18.543352
22     23  20.014668  -2.769563 -12.654774
23     24 -12.719900  -1.571008 -13.342735
24     25  23.799832   5.471096 -20.411645
25     26 -15.402345   6.277010 -20.379829
26     27  16.376103 -36.325332  -4.750059
27     28 -12.703503 -36.912939  -5.427706
28     29  17.950203 -72.210429 -15.950919
29     30 -17.320300 -72.244410 -16.669487
30     31  16.645487  21.887745   1.221830
31     32  -6.786133  22.123348  -0.061658

In [8]:
#get the rater differences from the mean 
diffs = []
for fid in range(1,33):
    fid_subset = Agile12v2016_RATER_df.loc[Agile12v2016_RATER_df["label"]==str(fid)]
    for key, value in fid_subset.iterrows():
        toAdd = [value["rater"],value["iteration"],value["label"]]
        
        means = mean_fiducials_df.loc[mean_fiducials_df["label"]==fid]
        
        meanX = float(means["meanX"])
        meanY = float(means["meanY"])
        meanZ = float(means["meanZ"])
        
        dist = math.sqrt((meanX-float(value["x"]))**2 + 
                     (meanY-float(value["y"]))**2 +
                     (meanZ-float(value["z"]))**2)
        
        toAdd.append(dist)
 
        diffs.append(toAdd)

diff_fiducials_df = pd.DataFrame(diffs,
                                columns = ["rater","iteration","label","dist"])

In [9]:
#calculating the mean and standard deviation of the differences 
AFLEs = []
for fid in range(1,33):
    fid_subset = diff_fiducials_df.loc[diff_fiducials_df["label"]==str(fid)]
    
    dists = fid_subset["dist"].tolist()
    
    toAdd = [fid,len(dists)]
    
    meanDiff = np.mean(dists)
    stddevDiff = np.std(dists)
    
    stats = [meanDiff,stddevDiff]
    
    toAdd = np.concatenate((toAdd, stats))
    
    AFLEs.append(toAdd)
    
AFLEs_df = pd.DataFrame(AFLEs,
                        columns = ["label","n","mean","sd"])

In [10]:
AFLEs_df

    label     n      mean        sd
0     1.0  32.0  0.332720  0.156050
1     2.0  32.0  0.335158  0.191159
2     3.0  32.0  1.250939  0.458332
3     4.0  32.0  0.825446  0.457777
4     5.0  32.0  1.146478  0.603816
5     6.0  32.0  0.753940  0.469210
6     7.0  32.0  0.933061  0.577309
7     8.0  32.0  1.545126  1.126563
8     9.0  32.0  1.390447  1.096204
9    10.0  32.0  1.031679  0.722949
10   11.0  32.0  0.727244  0.331453
11   12.0  32.0  0.370198  0.275525
12   13.0  32.0  0.426254  0.266122
13   14.0  31.0  0.706745  0.327101
14   15.0  31.0  0.998945  1.477491
15   16.0  31.0  1.078802  1.595766
16   17.0  31.0  3.911025  9.719656
17   18.0  31.0  2.740570  5.835422
18   19.0  31.0  3.949297  9.813689
19   20.0  31.0  0.671284  0.314541
20   21.0  31.0  1.480242  1.174689
21   22.0  31.0  1.675523  1.911459
22   23.0  31.0  0.631902  0.372439
23   24.0  31.0  0.601057  0.388917
24   25.0  31.0  1.304699  1.206221
25   26.0  31.0  1.364752  1.152488
26   27.0  31.0  1.365217  0.756347
27   28.0  31.0  1.480475  1.090589
28   29.0  31.0  1.597302  1.068538
29   30.0  31.0  1.086079  1.132081
30   31.0  31.0  1.177794  0.674276
31   32.0  31.0  1.229750  0.526539

### AFLEs: intrarater

In [11]:
#get pairwise differences for each rater for each fiducial

pairwiseDiffsWithinRater = []
for fid in range(1,33):
    fid_subset = Agile12v2016_RATER_df.loc[Agile12v2016_RATER_df["label"]==str(fid)]
    raters = fid_subset["rater"].unique()
    
    for rater in raters:
        dists = []
        
        rater_subset = fid_subset.loc[fid_subset["rater"]==rater]
    
        iterations = rater_subset["iteration"].unique()
        
        for iterPos1 in range(0,len(iterations)-1):
            for iterPos2 in range(iterPos1+1,len(iterations)):
                iter1 = iterations[iterPos1]
                iter2 = iterations[iterPos2]
                
                iter1Data = rater_subset.loc[rater_subset["iteration"]==iter1]
                iter2Data = rater_subset.loc[rater_subset["iteration"]==iter2]
                
                [x1,y1,z1] = [float(iter1Data["x"]),float(iter1Data["y"]),float(iter1Data["z"])]
                [x2,y2,z2] = [float(iter2Data["x"]),float(iter2Data["y"]),float(iter2Data["z"])]
                
                dist = math.sqrt((x1-x2)**2 + (y1-y2)**2 + (z1-z2)**2)
                
                dists.append(dist)
        
        mean_dist = np.mean(dists)
        sd_dist = np.std(dists)
        
        pairwiseDiffsWithinRater.append([fid,rater,mean_dist,sd_dist])
        
pairwiseDiffsWithinRater_df = pd.DataFrame(pairwiseDiffsWithinRater,
                                           columns = ["label","rater","mean_dist","sd_dist"])

In [12]:
pairwiseDiffsWithinRater_df

     label  rater  mean_dist   sd_dist
0        1      1   0.356904  0.120166
1        1      2   0.222400  0.085203
2        1      3   0.586554  0.209889
3        1      4   0.666469  0.273279
4        1      5   0.428242  0.120845
..     ...    ...        ...       ...
251     32      4   2.035695  0.899754
252     32      5   0.717139  0.227100
253     32      6   2.084566  1.154542
254     32      7   1.070670  0.678168
255     32      8   1.474531  0.596434

[256 rows x 4 columns]

In [13]:
all_mean_intrarater_dists = pairwiseDiffsWithinRater_df["mean_dist"].tolist()
mn = np.mean(all_mean_intrarater_dists)
sd = np.std(all_mean_intrarater_dists)
print(mn,sd)

1.4265976699875806 2.8760154912892366

### AFLEs: interrater

In [14]:
#get mean fiducial placements for each rater
rater_mean_fids = []
for fid in range(1,33):
    fid_subset = Agile12v2016_RATER_df.loc[Agile12v2016_RATER_df["label"]==str(fid)]
    raters = fid_subset["rater"].unique()
    
    for rater in raters:
        rater_subset = fid_subset.loc[fid_subset["rater"]==rater]
        xMean = np.mean([float(x) for x in rater_subset["x"].tolist()])
        yMean = np.mean([float(y) for y in rater_subset["y"].tolist()])
        zMean = np.mean([float(z) for z in rater_subset["z"].tolist()])
        
        toAdd = [fid,rater,xMean,yMean,zMean]
        rater_mean_fids.append(toAdd)

rater_mean_fids_df = pd.DataFrame(rater_mean_fids,
                                  columns = ["label","rater","xMean","yMean","zMean"])

In [15]:
rater_mean_fids_df

     label  rater     xMean      yMean     zMean
0        1      1  4.240838   5.721540  1.639180
1        1      2  4.214585   5.644720  1.502155
2        1      3  4.143190   5.626612  1.444520
3        1      4  4.168052   5.712758  1.806577
4        1      5  4.243168   5.734755  1.356588
..     ...    ...       ...        ...       ...
251     32      4 -7.217890  22.753875 -0.217169
252     32      5 -6.741625  23.133275  0.625820
253     32      6 -6.645860  22.286125  0.136103
254     32      7 -6.607045  22.431325 -0.243851
255     32      8 -6.552897  21.563400 -0.272349

[256 rows x 5 columns]

In [16]:
#get interrater AFLEs for each fiducial
AFLEs_interrater = []
all_diffs = []
for fid in range(1,33):
    fid_subset = rater_mean_fids_df.loc[rater_mean_fids_df["label"]==fid]
    
    distances = []
    for rater1 in range(1,8):
        for rater2 in range(rater1+1,9):
            rater1Values = fid_subset.loc[fid_subset["rater"]==rater1]
            rater2Values = fid_subset.loc[fid_subset["rater"]==rater2]
            
            [x1,y1,z1] = [float(rater1Values["xMean"]),float(rater1Values["yMean"]),float(rater1Values["zMean"])]
            [x2,y2,z2] = [float(rater2Values["xMean"]),float(rater2Values["yMean"]),float(rater2Values["zMean"])]
            
            dist = math.sqrt((x1-x2)**2 + (y1-y2)**2 + (z1-z2)**2)
            
            distances.append(dist)
            all_diffs.append(dist)
    
    mean_AFLE = np.mean(distances)
    sd_AFLE = np.std(distances)
    
    AFLEs_interrater.append([fid,mean_AFLE,sd_AFLE])
    
AFLEs_interrater_df = pd.DataFrame(AFLEs_interrater,
                                   columns = ["label","mean_AFLE","sd_AFLE"])

In [17]:
AFLEs_interrater_df

    label  mean_AFLE   sd_AFLE
0       1   0.312185  0.156062
1       2   0.325604  0.100383
2       3   1.604724  0.711609
3       4   1.061913  0.488222
4       5   1.380114  0.813653
5       6   0.632200  0.274685
6       7   1.029002  0.450245
7       8   1.649723  1.061255
8       9   1.525171  1.048120
9      10   1.097379  0.407119
10     11   0.817512  0.379993
11     12   0.314255  0.176637
12     13   0.392640  0.192868
13     14   0.628789  0.242463
14     15   1.097533  0.649635
15     16   1.327084  1.050603
16     17   4.827857  6.124988
17     18   3.589885  3.572761
18     19   4.370735  5.981789
19     20   0.595361  0.243647
20     21   1.825685  1.032467
21     22   2.100083  1.199561
22     23   0.705037  0.358996
23     24   0.710768  0.348923
24     25   1.637240  0.818572
25     26   1.684663  0.843002
26     27   1.752429  1.088943
27     28   2.018614  1.200828
28     29   1.733414  0.884848
29     30   1.381534  0.871244
30     31   0.952266  0.495261
31     32   1.274211  0.691392

In [18]:
mn = np.mean(all_diffs)
sd = np.std(all_diffs)

print(mn,sd)

1.44861286294952 2.0632023315197885